*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: #383A56;
    min-height: 100vh;
    text-align: center;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2F3032;
  }
  
header h1 {
    color: #AAA;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }
  
  header h1 strong {
    color: #EDE68A;
  }

.main-head{
    text-align: center;
    background-color: #2F3032;
    padding-bottom: 30px;
}

.main-head input{
    font-size: 16px;
    padding: 12px;
    width: 50%;
    max-width: 500px;
    background-color: #B0A565;
    border: none; 
    outline: none;
    border-radius: 2px;
    border: 1px solid black;
}

.main-head input:valid{
    background-color: #EDE68A;
    border: none;
    outline: none;
}

.real_button{
    color: black;
    border: none;
    padding: 12px;
    outline: none;
    font-size: 16px;
    border: 1px solid black;
    background-color: #aaa;
    transition: 0.5s;
}

.real_button:hover{
    background-color: white;
    cursor: pointer;
}

.anime-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 32px -8px 0px;
    background-color: #383A56;
    padding: 20px;
  }
  
.anime-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
    max-width: 33.333%;
    padding: 16px 8px;
    padding: 30px;
  }
  
 .anime-card a {
    text-decoration: none;
    color: white;
  }
  
figure {
    display: block;
    margin-bottom: 16px;
  }

figure img {
    display: block;
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
 .anime-card h3 {
    color: #313131;
  }
  
figure img:hover {
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

.card a h3{
      color: white;
  }

.red{
    color: #EDE68A !important;
}

.blue{
    color: #B0A565 !important; 
}